<!DOCTYPE html>
<html class="supports-fontface" lang="{{ request.locale.iso_code }}" style="overflow-x: hidden">
  <head>
    <meta charset="UTF-8">
    <title>
      {{ shop.name }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    {% if settings.favicon %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
    {% endif %}

    {% include 'social-meta-tags' %}
    {% render 'css-variables' %}

    <!-- CSS ================================================== -->
    {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    <!-- JS ================================================== -->
    {{ 'modernizr.min.js' | asset_url | script_tag }}
    <script>
      window.password = window.password || {};

      var password = {
        strings: {
          pageClose: {{ 'general.password_page.close' | t | json }}
        }
      }

      window.theme = window.theme || {};
      theme.strings = {
        addressError: {{ 'home_page.map.address_error' | t | json }},
        addressNoResults: {{ 'home_page.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'home_page.map.address_query_limit_html' | t | json }},
        authError: {{ 'home_page.map.auth_error_html' | t | json }}
      };
      theme.settings = {
        cartType: {{ settings.cart_type | json }}
      };
    </script>

    {{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'slick.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'slick-theme.css' | asset_url }}">
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


  </head>

  <body class="template-password">

    <div class="password-page__wrapper">
      {{ content_for_layout }}
    </div>

  </body>
</html>
